/* Стили для иконки бургер-меню */
.burgerMenuIcon {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 20px;
  cursor: pointer;
  z-index: 1001;
}

.burgerMenuIcon div {
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  transition: 0.3s ease-in-out;
}

/* Анимация бургер-меню при открытии */
.burgerMenuIcon.open div:nth-child(1) {
  transform: rotate(45deg);
  position: relative;
  top: 8px;
}

.burgerMenuIcon.open div:nth-child(2) {
  opacity: 0;
}

.burgerMenuIcon.open div:nth-child(3) {
  transform: rotate(-45deg);
  position: relative;
  top: -8px;
}

/* Стили для хедера */
.header {
  height: 60px;
  background-color: #282c34;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  z-index: 999;
}

/* Стили для заголовка в хедере */
.header h1 {
  font-size: 24px;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
}

/* Для адаптивности */
@media (max-width: 768px) {
  .header {
    padding: 0 16px;
  }

  .burgerMenuIcon {
    display: flex;
  }
}
